{% spaceless %}

<!DOCTYPE html>
<html>


  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=0.5'>
    <title>{% block title %}title{% endblock %}</title>
    <link rel='stylesheet' href='/src/styles.css'>
  </head>


  <body>

    {% block mainbody %}

      <h1>Silex Base Template</h1>

      {{ 'This is Markdown' | markdown }}

      {{ 'translate' | trans }}

    {% endblock %}

    <script src='/src/scripts.js'></script>

  </body>


</html>

{% endspaceless %}
